{% extends "base.html" %}
{% block content %}
<h2>Ajouter un nouvel accident de travail</h2>

<form method="post" action="{{ url_for('add_acc') }}">
    {% for column in columns %}
        <div class="form-group">
            <label for="{{ column }}">{{ column }}:</label>
            {% if column in date_columns %}
                <input type="date" name="{{ column }}" class="form-control" id="{{ column }}">
            {% else %}
                <input type="text" name="{{ column }}" class="form-control" id="{{ column }}">
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}
