{% extends "base.html" %}
{% block content %}
<h2 class="animated-header">Ajouter un suivi de l'infermierie</h2>

<form method="post">
    {% for column in columns %}
        <div class="mb-3">
            <label for="{{ column }}" class="form-label">{{ column }}</label>
            <input type="text" class="form-control" id="{{ column }}" name="{{ column }}" >
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

{% endblock %}
