{% extends "base.html" %}
{% block content %}
<h2>Ajouter une nouvelle habilitation</h2>

<form method="post" action="{{ url_for('add_habilitation') }}">
    {% for col in columns %}
        <div class="form-group">
            <label for="{{ col }}">{{ col }}</label>
            {% if col == 'Date de début' or col == 'Date de fin' %}
                <input type="date" class="form-control" id="{{ col }}" name="{{ col }}" required>
            {% else %}
                <input type="text" class="form-control" id="{{ col }}" name="{{ col }}" required>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
{% endblock %}
