{% extends "base.html" %}
{% block content %}
<h2>Add New Record</h2>
<form method="POST">
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="form-group">
        <label for="emetteur">Emetteur:</label>
        <input type="text" class="form-control" id="emetteur" name="emetteur" required>
    </div>
    <div class="form-group">
        <label for="violateur">Violateur:</label>
        <input type="text" class="form-control" id="violateur" name="violateur" required>
    </div>
    <div class="form-group">
        <label for="fonction">FONCTION</label>
        <input list="fonctions" class="form-control" id="fonction" name="fonction" placeholder="Sélectionnez ou entrez une fonction">
        <datalist id="fonctions">
            {% for fonction in fonctions %}
                <option value="{{ fonction }}">
            {% endfor %}
        </datalist>
    </div>
    
    <div class="form-group">
        <label for="matricule">Matricule:</label>
        <input type="text" class="form-control" id="matricule" name="matricule" required>
    </div>
    <div class="form-group">
        <label for="zone_activite">Zone d'activité:</label>
        <input type="text" class="form-control" id="zone_activite" name="zone_activite" required>
    </div>
    <div class="form-group">
        <label for="organisme">Organisme:</label>
        <input type="text" class="form-control" id="organisme" name="organisme" required>
    </div>
    <div class="form-group">
        <label for="description_infraction">Description de l'infraction:</label>
        <input type="text" class="form-control" id="description_infraction" name="description_infraction" required>
    </div>
    <div class="form-group">
        <label for="wps">WPS (Worst Potential Severity):</label>
        <input type="text" class="form-control" id="wps" name="wps" required>
    </div>
    <div class="form-group">
        <label for="categorie">Catégorie:</label>
        <input type="text" class="form-control" id="categorie" name="categorie" required>
    </div>
    <div class="form-group">
        <label for="observations_type">Observations Type (Positive=P/ Negative=N):</label>
        <input type="text" class="form-control" id="observations_type" name="observations_type" required>
    </div>
    <div class="form-group">
        <label for="risque_associe">Risque associé:</label>
        <input type="text" class="form-control" id="risque_associe" name="risque_associe" required>
    </div>
    <div class="form-group">
        <label for="evidence_reference">Evidence Reference:</label>
        <input type="text" class="form-control" id="evidence_reference" name="evidence_reference" required>
    </div>
    <div class="form-group">
        <label for="actions">Actions:</label>
        <input type="text" class="form-control" id="actions" name="actions" required>
    </div>
    <div class="form-group">
        <label for="status">Status (Ouvert/Fermé/En cours):</label>
        <input type="text" class="form-control" id="status" name="status" required>
    </div>
    <div class="form-group">
        <label for="remarques">Remarques:</label>
        <input type="text" class="form-control" id="remarques" name="remarques" required>
    </div>
    <div class="form-group">
        <label for="nombre_avertissements">Nombre d'avertissements:</label>
        <input type="text" class="form-control" id="nombre_avertissements" name="nombre_avertissements" required>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
