{% extends "base.html" %}
{% block content %}
<h2 class="animated-header">Confirmer Suppression</h2>

<p>Êtes-vous sûr de vouloir supprimer cet enregistrement ?</p>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        <tr>
            {% for column in columns %}
                <td>{{ data[column] }}</td>
            {% endfor %}
        </tr>
    </tbody>
</table>

<form method="post">
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a href="{{ url_for('view_infirmerie') }}" class="btn btn-secondary">Annuler</a>
</form>

{% endblock %}
