{% extends "base.html" %}
{% block content %}
<h1 class="text-center">Historique des Actions</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    <form method="post" action="{{ url_for('history') }}" class="form-inline">
        <div class="form-group mx-sm-2">
            <label for="date_filter" class="mr-2">Filtrer par Date:</label>
            <input type="date" name="date_filter" class="form-control" id="date_filter" required>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Filtrer</button>
    </form>
    <a href="{{ url_for('home') }}" class="btn btn-info btn-sm">Retour au Home</a>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Action</th>
                <th>Date et Heure</th>
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td>{{ action[0] }}</td>
                <td>{{ action[1] }}</td>
            </tr>
            {% endfor %}
            {% if actions|length == 0 %}
            <tr>
                <td colspan="2" class="text-center">Aucune action trouvée pour cette date.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
