{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Importer un fichier Excel pour le Registre</h2>
    <form action="{{ url_for('import_registre') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Sélectionner un fichier Excel :</label>
            <input type="file" class="form-control" id="file" name="file" accept=".xlsx, .xls" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Importer</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="mt-3">
                <ul class="list-group">
                    {% for category, message in messages %}
                        <li class="list-group-item list-group-item-{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
