<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Sensibilisation Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Search Sensibilisation Records</h1>
    <form method="POST" action="{{ url_for('search_sens') }}">
        <label for="MAT">MAT:</label>
        <input type="text" id="MAT" name="MAT"><br>

        <label for="NOM_ET_PRENOM">NOM ET PRENOM:</label>
        <input type="text" id="NOM_ET_PRENOM" name="NOM ET PRENOM"><br>

        <label for="FONCTION">FONCTION:</label>
        <input type="text" id="FONCTION" name="FONCTION"><br>

        <label for="CIN">CIN:</label>
        <input type="text" id="CIN" name="CIN"><br>

        <input type="submit" value="Search">
    </form>
    <a href="{{ url_for('view_sens') }}">Back to Sensibilisation Records</a>
</body>
</html>
