{% extends "base.html" %}
{% block content %}
<h2>Modifier une sensibilisation</h2>
<form method="post" action="{{ url_for('update_sens', index=index) }}">
    {% for column in columns %}
        <div class="form-group">
            <label for="{{ column }}">{{ column }}</label>
            <input type="text" name="{{ column }}" class="form-control" id="{{ column }}" value="{{ data[column] }}">
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>
{% endblock %}
