{% extends "base.html" %}
{% block content %}
<h2>Mettre à jour une mesure disciplinaire</h2>

<form method="post" action="{{ url_for('update_discipline', index=index) }}">
    {% for col in columns %}
        <div class="form-group">
            <label for="{{ col }}">{{ col }}</label>
            {% if col == 'Date' %}
                <input type="date" class="form-control" id="{{ col }}" name="{{ col }}" value="{{ data[col] | default('') }}">
            {% else %}
                <input type="text" class="form-control" id="{{ col }}" name="{{ col }}" value="{{ data[col] | default('') }}">
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>
{% endblock %}
