{% extends "base.html" %}
{% block content %}
<h2>Suivi de Remise des EPI 1</h2>
<a href="{{ url_for('add_epi1') }}" class="btn btn-primary">Add New</a>
<a href="{{ url_for('download_epi1_excel') }}" class="btn btn-success mb-3">Download Excel</a>
<table class="table table-bordered">
    <thead>
        <tr>
            {% for column in columns %}
                <th>{{ column }}</th>
            {% endfor %}
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                {% for column in columns %}
                    <td>{{ row[column] }}</td>
                {% endfor %}
                <td>
                    <a href="{{ url_for('update_epi1', row_id=loop.index0) }}" class="btn btn-warning">Update</a>
                    <a href="{{ url_for('delete_epi1', row_id=loop.index0) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
